@keyframes buttonIn{
	0% {right:-100%;}
	100% {right:0;}
}
@keyframes buttonOut{
	0% {right:0;}
	100% {right:-100%;}
}
#mainStage{
	background:url(../pictures/bg/1.jpg) center center no-repeat; 
	background-size:100% 100%; 
	width:1280px; 
	height:720px;
	position:relative;
	cursor:url(../sysico/sys_cur.png),auto;
}
#character{
	position:absolute;
}
#next{
	width:100%;
	height:100%;
	border:0;
	left:0;
	top:0;
	opacity:0;
}
#functions{
	position:absolute;
	width:100%;
	height:28%;
	bottom:0;
	opacity:0.6;
}
#functions>img{
	width:40px;
	position: absolute;
    left: 90%;
    bottom: 5%;
}

#sysOpt{
	width:8%;
	height:90%;
	position:absolute;
	right:0;
	top:5%;
	background:rgba(0,0,0,0);
	cursor:inherit;
}
#sysOpt button{
	width:100%;
	height:30%;
	position:relative;
	right:-100%;
	background:rgba(0,0,0,0);
}
#sysOpt button:hover{
	background:radial-gradient(ellipse,rgba(255,255,255,0.4) 30%,rgba(255,255,255,0) 70%);
}
#subtitle{
	background:radial-gradient(ellipse,rgba(255,255,255,0.3) 35%,rgba(255,255,255,0) 75%);
	position:absolute;
	margin:0;
	width:52%;
	height:64%;
	left:19%;
	bottom:18%;
}

#name{
	position:absolute;
	margin:0;
	width:10%;
	height:18%;
	left:22%;
}